<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <form class="" method="post" action="/api/v1/">
      <label for="">name</label>
      <input type="text" name="name" value="">
      <br>
      <label for="">adress</label>
      <input type="text" name="address" value="">
      <br>
      <label for="">description</label>
      <input type="text" name="description" value="">
      <br>
      <label for="">long</label>
      <input type="text" name="long" value="">
      <br>
      <label for="">latt</label>
      <input type="text" name="latt" value="">
      <br>
      <label for="">fb</label>
      <input type="text" name="fb" value="">
      <br>
      <label for="">instagram</label>
      <input type="text" name="instagram" value="">
      <br>
      <label for="">website</label>
      <input type="text" name="website" value="">
      <br>
      <button type="submit" name="button">Submit</button>
    </form>
  </body>
</html>
